{% extends "mytodo/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Created_date</td>
            <td>Due_date</td>
            <td>Status</td>
            <td>
                <a href="{% url 'activity_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for activity in tasks %}
            <tr>
                <td>{{activity.title}}</td>
                <td>{{activity.description}}</td>
                <td>{{activity.created_date}}</td>
                <td>{{activity.due_date}}</td>
                <td>{{activity.status}}</td>
                <td>
                    <a href="{% url 'activity_update' title=activity.title %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'activity_delete' title=activity.title %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}